-
    var awardHeader = '#awards'
    var awardList = [
        {
            title: 'something',
            description: 'something',
            location: 'something',
            date: 'something'
        },
    ];
#award
.award
    .award__header=awardHeader
    each award in awardList
        .award__card
            .award__icon
                span.my-cv__icon--
            .award__title=award.title

            .award__icon
                span.my-cv__icon--
            .award__description=award.description

            .award__icon
                span.my-cv__icon--
            .award__location=award.location

            .award__icon
                span.my-cv__icon--
            .award__date=award.date
